html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.container {
  width: 1170px; 
  padding: 0 15px;
  margin: 0 auto;
}

.form-container {
  width: 900px; 
  padding: 0 15px;
  margin: 0 auto;
}
.top-wrapper {
  padding: 300px 0 300px 0;
  background-image: url(./img/1.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 1;
  font-size: 60px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 1;
  font-size: 20px;
  margin-bottom: 9px;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10; 
}

.logo {
  height: 70px;
  width: 150px;
  margin-top: 0px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

#intro h2{
  font-size: 50px;
  text-align: center;
}

.info1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.info img{
  padding: 10px 40px 40px 10px; 
  width: 400px;
  height: 400px;

}

.info2 p{
  width: 450px;
  font-size: 20px;
  font-family: "Times New Roman";
  font-style: italic;
  float: left;
}

.lesson-wrapper {
  height: 600px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

#heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

#heading h2 {
  font-size: 50px;
}

#resume h2{
  padding-top: 40px;
  font-size: 60px;
  text-align: center;
}
#resume h3{
  text-align: center;
  padding-bottom: 50px;
  font-size: 30px;
}
#resume img {
  padding-top: 0px;
  width: 200px;
  height: 170px;
}
#cont h2{
  padding-top: 30px;
  font-size: 50px;
  text-align: center;
}
.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon img{
  height: 200px;
  width: 200px;
}

.lesson-icon p {
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  height: 500px;
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  background-color: #ECF0F1;
  text-align: center;
}

.message {
  padding: 30px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.heading h2{
  text-align: center;
}

.form{
  font-style: italic;
  font-family: "Times New Roman";
  font-size: 30px;
  text-align: center;
  padding: 10px 40px 5px 10px;  
}

.button input{
  height: 100px;
  width: 200px;
  text-align: center;
  padding: 40px;
  display: inline-block;
  font-size: 60px;
}

.main h2{
  margin: 0 40px;
  padding: 15px;
  color: #0092e6;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.main .border{
  width: 70px;
  height: 3px;
  background: #00b8e6;
  margin: 1px auto;
}

.main input{
  padding: 10px 0;
  margin-bottom: 30px;
}

.main textarea{
  height: 80px;
  padding: 10px 0;
  margin-bottom: 100px;
}

.main input,
.main textarea{
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #999;
}

.main textarea{
  margin-bottom: 100px;
}

.main input[type="submit"]{
  border-bottom: none;
  cursor: pointer;
  background: #0092e6;
  color: #fff;
  margin-bottom: 0;
  text-transform: uppercase;
}

.main form div{
  position: relative;
}

.main input[type="submit"]:hover{
  background: #00b8e6;
}
.bottom{
  width: 825px; 
  padding: 0 15px;
  padding-right: 100px;
  margin: 0 auto;
}
.icon img{
  padding-right: 20px;
}
.icon p a:hover{
  opacity: 0.5;
}
footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
}
